@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "./reset.css";

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

/* Buttons */

.btn__type__1 {
    display: inline-block;
    padding: 11px 17px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #013A4C;
}

.btn__type__2 {
    display: inline-block;
    padding: 11px 17px;
    border: 1px solid #346170;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #013A4C;
}

.btn__type__3 {
    display: inline-block;
    padding: 11px 17px;
    background: #013A4C;
    border: 1px solid #013A4C;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.btn__type__4 {
    display: inline-block;
    padding: 11px 17px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

/* Fonts */

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #013A4C;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 78px;
    letter-spacing: 2px;
    color: #013A4C;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    letter-spacing: 0.7px;
    color: #013A4C;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
}
 
h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #013A4C;
}

h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #013A4C;
}

/* Header */

.nav {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi_btn {
    display: flex;
    column-gap: 45px;
    align-items: center;
}

.header__nav {
    display: flex;
    column-gap: 60px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #013A4C;
}


.header__nav {
    display: flex;
}

/* Content */

.content__welcome {
    max-width: 510px;
    vertical-align: middle;
    padding-top: 210px;
}

.welcome {
    width: 100%;
    height: 770px;
    background-size: cover;
    background-image: url("../img/backgroung-img/back-img-1.png");
}

.btn__welcome {
    display: flex;
    column-gap: 20px;
}

.content__welcome p {
    padding: 30px 0;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #013A4C;
}

.companies {
    background: #013A4C;
    padding: 80px 0 130px;
}

.logo__companies p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #FFFFFF;
}

.logos {
    padding: 24px 0 80px;
    display: flex;
    column-gap: 32px;
    justify-content: center;
}

.turn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left__block {
    max-width: 535px;

}

.left__block h2 {
    color: #F2DCE4;
    letter-spacing: 0.4px;
}

.left__block p {
    padding: 40px 0 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}

.collaborate__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.collaborate__icons {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    padding: 30px 96px;
    background: #D3E8F4;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #94B4C2;
    cursor: pointer;
}

.collaborate__icon::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 7px;
    background-image: url("../img/icon/create.svg");
}

.collaborate__icon.colab__icon::before {
    background-image: url("../img/icon/colab.svg");
}

.collaborate__icon.sign__icon::before {
    background-image: url("../img/icon/sign.svg");
}

.collaborate__icon.manage__icon::before {
    background-image: url("../img/icon/manage.svg");
}

.collaborate__icon.analyze__icon::before {
    background-image: url("../img/icon/analyze.svg");
}

.collaborate__icon.integrate__icon::before {
    background-image: url("../img/icon/integrate.svg");
}

.collaborate__icon:hover::after {
    content: "";
    position: absolute;
    display: block;
    width: 52px;
    height: 2px;
    background: #013A4C;
    margin: 27px 0 0px -30px; 
}


.collaborate__content {
    padding: 80px 0 80px 96px;
    background: #D3E8F4;
    border-radius: 0 0 8px 8px;
}

.collaborate__content p {
    max-width: 442px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #013A4C;
}

.collab__ul {
    margin: 55px 0 45px;
}

.collab__li {
    padding-left: 30px;
    background-image: url("../img/icon/li.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-bottom: 8px;
}

.magic {
    width: 100%;
    height: 2432px;
    background-image: url("../img/backgroung-img/magic-img.png");
}

.magic__text__block{
    display: flex;
    justify-content: center;
}

.magic__txt {
    padding-top: 80px;
    max-width: 830px;
}

.magic__header__txt::before {
    content: "";
    display: block;
    width: 109px;
    height: 109px;
    background-image: url("../img/icon/icon-1.svg");
    margin: 150px 0 15px;
}

.magic__header__txt.icon-2::before {
    background-image: url("../img/icon/icon-2.svg");
}

.magic__header__txt.icon-3::before {
    background-image: url("../img/icon/icon-3.svg");
}

.magic__left p,
.magic__right p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #013A4C;
    margin: 35px 0 15px;
}

.magic__content {
    width: 520px;
}

.magic__right {
    display: flex;
    flex-direction: row-reverse;
}

.believe {
    width: 100%;
    height: 850px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/backgroung-img/back-img-3.png");
}

.left__block__believe {
    padding-top: 250px;
}

.left__block__believe h2 {
    font-weight: 700;
    font-size: 73px;
    color: #F2DCE4;
}

.left__block__believe p {
    margin: 35px 0 15px;
    max-width: 574px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.seamless__block {
    width: 1070px;
    margin: 180px auto;
    display: flex;
    column-gap: 112px;
    align-items: center;
}

.seamless__txt__block {
    max-width: 400px;
}

.seamless__txt__block p {
    padding: 30px 0 15px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #013A4C;
}

.seamless__columns {
    display: flex;
    align-items: center;

}

.seamless__column {
    display: flex;
    flex-direction: column;
}

.seamless__columns img {
    padding: 50px;
}

.container__trick {
    width: 1152px;
    margin: 0 auto;
}

.trick__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__news__big h4 {
    font-weight: 400;
    max-width: 450px;
    padding-bottom: 80px;
}

.news__big {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__big {
    background: #F2DCE4;
    border-radius: 8px;
    padding: 48px 38px 25px;
    margin-top: 80px;
}

.bage {
    padding: 6px 8px;
    display: inline-block;
    margin-bottom: 60px;
    background: #B73D8B;
    border-radius: 4px;
}

.meta__block {
    display: flex;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #013A4C;
}

.meta::after {
    content: "|";
    padding: 0 10px;
}

.news__cards {
    display: flex;
    column-gap: 24px;
    margin-top: 24px;
}

.card {
    overflow: hidden;
    border-radius: 8px;
    max-width: 368px;
}

.card.guide {
    background: #013A4C;
}

.content__news {
    padding: 24px;
}

.bage.guide {
    background: #F2DCE4;
}

.meta__block.white {
    color: #fff;
}

.content__news h5 {
    margin-bottom: 70px;
}

.card.article {
    background: #F2DCE4;
}

.bage.small__card {
    margin-bottom: 18px;
}

.h__white {
    margin-bottom: 70px;
    color: #fff;
}

.bage.story {
    background: #187BB7;
}

.card.custom__story {
    width: 368px;
    text-align: center;
    background-color: #0F5987;;
}

.bage.story {
    color: #fff;
    margin: 25px 0 110px;
}

.story__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 120px;
}

.more {
    margin: 180px 0;
}

.more__cards {
    display: flex;
    column-gap: 32px;
    text-align: center;
    margin-top: 80px;
}

.more__content {
    padding: 15px 40px;
}

.sample__card img {
    border-radius: 8px;
    overflow: hidden;
}

.more__content p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
}

.more__content h6 {
    margin: 20px 0;
    max-width: 480px;
}

/* Footer */

footer {
    background-color: #013A4C;
}

.columns__footer {
    display: flex;
    padding: 70px 0;
    justify-content: space-between;
    border-bottom: 1px solid #346170;
}

.column__1 {
    margin-right: 180px;
}

.column__1 img {
    margin-bottom: 70px;
}

.column__1 p {
    width: 182px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.column__nav p {
    padding-bottom: 13px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__nav li {
    padding-bottom: 13px;
}

.footer__nav {
    padding-bottom: 13px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #99B0B7;
}

.footer__nav a {
    color: inherit;
    transition: 0.3s;
}

.footer__nav a:hover {
    color: #fff;
}

.footer__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.info__footer {
    display: flex;
    align-items: center;
    padding: 70px 0;
    column-gap: 50px;
    border-bottom: 1px solid #346170;
}

.subname__footer {
    width: 367px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__link {
    padding: 17px 0 70px;
}

.footer__nav__type__2 {
    display: flex;
    column-gap: 35px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #99B0B7;
    transition: 0.4s;
}

.footer__nav__type__2 a {
    color: inherit;
    transition: 0.3s;
}

.footer__nav__type__2 a:hover {
    color: #fff;
}